<% Time.use_zone('Seoul') do %>	
<h1><%= link_to "EveryUse Ex ver. Users", "/users/" %></h1>

<table border="3">
	<tr height="50">
		<th width=" 50" style="padding-top: 5px">ID<br /><sup><%= link_to "[a->z]", "/users/index?sort=id" %></sup></th>
		<th width="150" style="padding-top: 5px">Username<br /><sup><%= link_to "[a->z]", "/users/index?sort=username" %></sup></th>
		<th width="200" style="padding-top: 5px">Email<br /><sup><%= link_to "[a->z]", "/users/index?sort=email" %></sup></th>
		<th width="130" style="padding-top: 5px">Created@<br /><sup><%= link_to "[z->a]", "/users/index?sort=created_at" %></sup></th>
		<th width=" 70" style="padding-top: 5px">#UseCase<br /><sup><%= link_to "[z->a]", "/users/index?sort=use_cases_count" %></sup></th>
		<th width=" 70" style="padding-top: 5px">#Wow<br /><sup><%= link_to "[z->a]", "/users/index?sort=wows_count" %></sup></th>
		<th width=" 70" style="padding-top: 5px">#Metoo<br /><sup><%= link_to "[z->a]", "/users/index?sort=metoos_count" %></sup></th>
		<th width=" 70" style="padding-top: 5px">#Favorite<br /><sup><%= link_to "[z->a]", "/users/index?sort=favorites_count" %></sup></th>
		<th width=" 70">#Following</th>
		<th width=" 70">#Follower</th>
		<th width="100">Admin Action</th>
	</tr>
<% for user in @users.each %>
	<tr height="30">
		<td style="text-align: center;"><%= user.id %></td>
		<td style="padding-left: 10px;"><%= user.username %></td>
		<td style="padding-left: 10px;"><%= user.email %></td>
		<td style="text-align: center;"><%= user.created_at.strftime("%Y/%m/%d %H:%M") %></td>
		<td style="text-align: center;"><%= user.use_cases.count %></td>
		<td style="text-align: center;"><%= user.wows.count %></td>
		<td style="text-align: center;"><%= user.metoos.count %></td>
		<td style="text-align: center;"><%= user.favorites.count %></td>
		<td style="text-align: center;"><%= user.relationships.count %></td>
		<td style="text-align: center;"><%= user.reverse_relationships.count %></td>
		<td style="text-align: center;"><%= link_to "Show", "/users/show/#{user.id}" %></td>
	</tr>
<% end %>
</table>
<% end %>
